$icons: (
	  sprite: (width: 158px, height: 157px, svgPath: '../img/sprite.svg'),
	arrow-d: (width: 16px, height: 20px, backgroundX: 0px, backgroundY: 0px),
	arrow-r: (width: 20px, height: 16px, backgroundX: -16px, backgroundY: -20px),
	error: (width: 22px, height: 19px, backgroundX: -36px, backgroundY: -36px),
	socials: (width: 18px, height: 20px, backgroundX: -58px, backgroundY: -55px),
	socials_fb: (width: 8px, height: 16px, backgroundX: -76px, backgroundY: -75px),
	socials_gh: (width: 21px, height: 20px, backgroundX: -84px, backgroundY: -91px),
	socials_mail: (width: 16px, height: 13px, backgroundX: -105px, backgroundY: -111px),
	socials_med: (width: 19px, height: 19px, backgroundX: -121px, backgroundY: -124px),
	socials_tw: (width: 18px, height: 14px, backgroundX: -140px, backgroundY: -143px),
);
