/*----- FONTS -----*/

$lato:							'Lato', sans-serif;

// end FONT


/*----- COLORS -----*/

$clr-orange:		#00dc3a;
$clr-red:			#00dc3a;
$clr-black:			#35333f;
$clr-gray:			#918f99;
$clr-white:			#f2f2f2;

// end COLORS
