/*----- FONTS -----*/

$lato:							'Lato', sans-serif;

// end FONT


/*----- COLORS -----*/

$clr-orange:		#18EA8C;
$clr-red:			#18EA8C;
$clr-black:			#35495E;
$clr-gray:			#918f99;
$clr-white:			#f2f2f2;

// end COLORS
