/*----- FONTS -----*/

$lato:							'Lato', sans-serif;

// end FONT


/*----- COLORS -----*/

$clr-orange:		#FFEF74;
$clr-red:			#F2DF44;
$clr-black:			#43404F;
$clr-gray:			#918f99;
$clr-white:			#f2f2f2;

// end COLORS
