$icons: (
	  sprite: (width: 194px, height: 197px, svgPath: '../img/sprite.svg'),
 	arrow-d: (width: 16px, height: 20px, backgroundX: 0px, backgroundY: 0px),
 	arrow-r: (width: 20px, height: 16px, backgroundX: -16px, backgroundY: -20px),
 	error: (width: 22px, height: 19px, backgroundX: -36px, backgroundY: -36px),
 	icon-next: (width: 36px, height: 40px, backgroundX: -58px, backgroundY: -55px),
 	socials: (width: 18px, height: 20px, backgroundX: -94px, backgroundY: -95px),
 	socials_fb: (width: 8px, height: 16px, backgroundX: -112px, backgroundY: -115px),
 	socials_gh: (width: 21px, height: 20px, backgroundX: -120px, backgroundY: -131px),
 	socials_mail: (width: 16px, height: 13px, backgroundX: -141px, backgroundY: -151px),
 	socials_med: (width: 19px, height: 19px, backgroundX: -157px, backgroundY: -164px),
 	socials_tw: (width: 18px, height: 14px, backgroundX: -176px, backgroundY: -183px),
);
