.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-d {
	font-size:(20/16)*1rem;
	width:(16/20)*1em;
}
.icon-arrow-r {
	font-size:(16/16)*1rem;
	width:(20/16)*1em;
}
.icon-error {
	font-size:(19/16)*1rem;
	width:(22/19)*1em;
}
.icon-socials {
	font-size:(20/16)*1rem;
	width:(18/20)*1em;
}
.icon-socials_fb {
	font-size:(16/16)*1rem;
	width:(8/16)*1em;
}
.icon-socials_gh {
	font-size:(20/16)*1rem;
	width:(21/20)*1em;
}
.icon-socials_mail {
	font-size:(13/16)*1rem;
	width:(16/13)*1em;
}
.icon-socials_med {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-socials_tw {
	font-size:(14/16)*1rem;
	width:(18/14)*1em;
}
