$icons: (
	  sprite: (width: 277px, height: 272px, svgPath: '../img/sprite.svg'),
 	arrow-d: (width: 16px, height: 20px, backgroundX: 0px, backgroundY: 0px),
 	arrow-r: (width: 20px, height: 16px, backgroundX: -16px, backgroundY: -20px),
 	error: (width: 22px, height: 19px, backgroundX: -36px, backgroundY: -36px),
 	icon-next: (width: 36px, height: 40px, backgroundX: -58px, backgroundY: -55px),
 	s-custom: (width: 26px, height: 16px, backgroundX: -94px, backgroundY: -95px),
 	s-portal: (width: 16px, height: 20px, backgroundX: -120px, backgroundY: -111px),
 	s-twitter: (width: 20px, height: 19px, backgroundX: -136px, backgroundY: -131px),
 	s-website: (width: 21px, height: 20px, backgroundX: -156px, backgroundY: -150px),
 	socials: (width: 18px, height: 20px, backgroundX: -177px, backgroundY: -170px),
 	socials_fb: (width: 8px, height: 16px, backgroundX: -195px, backgroundY: -190px),
 	socials_gh: (width: 21px, height: 20px, backgroundX: -203px, backgroundY: -206px),
 	socials_mail: (width: 16px, height: 13px, backgroundX: -224px, backgroundY: -226px),
 	socials_med: (width: 19px, height: 19px, backgroundX: -240px, backgroundY: -239px),
 	socials_tw: (width: 18px, height: 14px, backgroundX: -259px, backgroundY: -258px),
);
