$icons: (
	  sprite: (width: 789px, height: 784px, svgPath: '../img/sprite.svg'),
 	arrow-d: (width: 16px, height: 20px, backgroundX: 0px, backgroundY: 0px),
 	arrow-r: (width: 20px, height: 16px, backgroundX: -16px, backgroundY: -20px),
 	error: (width: 22px, height: 19px, backgroundX: -36px, backgroundY: -36px),
 	icon-next: (width: 36px, height: 40px, backgroundX: -58px, backgroundY: -55px),
 	s-custom: (width: 26px, height: 16px, backgroundX: -94px, backgroundY: -95px),
 	s-linkedin: (width: 512px, height: 512px, backgroundX: -120px, backgroundY: -111px),
 	s-portal: (width: 16px, height: 20px, backgroundX: -632px, backgroundY: -623px),
 	s-twitter: (width: 20px, height: 19px, backgroundX: -648px, backgroundY: -643px),
 	s-website: (width: 21px, height: 20px, backgroundX: -668px, backgroundY: -662px),
 	socials: (width: 18px, height: 20px, backgroundX: -689px, backgroundY: -682px),
 	socials_fb: (width: 8px, height: 16px, backgroundX: -707px, backgroundY: -702px),
 	socials_gh: (width: 21px, height: 20px, backgroundX: -715px, backgroundY: -718px),
 	socials_mail: (width: 16px, height: 13px, backgroundX: -736px, backgroundY: -738px),
 	socials_med: (width: 19px, height: 19px, backgroundX: -752px, backgroundY: -751px),
 	socials_tw: (width: 18px, height: 14px, backgroundX: -771px, backgroundY: -770px),
);
